services:
  Pianissimo\Component\Routing\RouterInterface: '@router'

  router:
    class: Pianissimo\Component\Framework\Router
    autowire: true

  annotated_route_loader:
    class: Pianissimo\Component\Framework\Routing\AnnotatedRouteLoader
    autowire: true
    tags: ['framework_annotated_route_loader']

  Doctrine\ORM\EntityManagerInterface: '@entity_manager'

  entity_manager:
    class: Pianissimo\Component\Framework\Bridge\Doctrine\EntityManager
    autowire: true

  error_controller:
    class: Pianissimo\Component\Framework\Controller\ErrorController
    autowire: true

  exception_controller:
    class: Pianissimo\Component\Framework\Controller\ExceptionController
    autowire: true

# Temporary solution: Pianissimo doesn't support bundles yet (which can add compiler passes)
compiler_passes:
  - Pianissimo\Component\Framework\Routing\RouterControllerCompilerPass
