<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Pianissimo PHP framework">
    <meta name="author" content="@jonmldr">
    <meta name="generator" content="Pianissimo Framework">

    <title>Pianissimo framework</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <style>
        body {
            font-family: 'Nunito', sans-serif;
        }

        a {
            color: #22a6b3;
        }

        a:hover {
            color: #7ed6df;
            text-decoration: none;
        }

        table ul {
            margin-bottom: 0;
            padding-inline-start: 20px;
        }
    </style>
</head>
<body>
<main role="main">
    <div class="container">
        <img src="https://jonmulder.nl/pianissimo-logo1.1.svg" width="400px" class="mt-5 mb-4"/>

        <p class="lead">Welcome by the Pianissimo PHP framework!</p>
        <p>Maybe you want to take a look at</p>
        <ul class="mb-5">
            <li>PianoTuner debugging toolbar <span class="text-muted">(see below)</span></li>
        </ul>

        <h3 class="mb-3">Components</h3>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Component</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Config</td>
                <td>
                    N/A
                </td>
            </tr>
            <tr>
                <td>DependencyInjection</td>
                <td>
                    N/A
                </td>
            </tr>
            <tr>
                <td>Framework</td>
                <td>
                    N/A
                </td>
            </tr>
            <tr>
                <td>Routing</td>
                <td>
                    N/A
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer class="mt-5 pb-5">
    <div class="container text-muted">
        Made with all the &hearts; in the world by <a href="https://github.com/jonmldr">@jonmldr</a>
    </div>
</footer>
</body>
</html>
